/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

@import "https://cdn.bitinflow.com/fontawesome/6.2.0/css/all.css";

/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
    --vp-c-indigo-1: #1872a2;
    --vp-c-indigo-2: #468eb4;
    --vp-c-indigo-3: #62c8f4;
    --vp-c-indigo-soft: rgba(208, 226, 236, 0.14);
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
    --vp-custom-block-tip-border: var(--vp-c-brand);
    --vp-custom-block-tip-text: var(--vp-c-brand-darker);
    --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
    --vp-custom-block-tip-border: var(--vp-c-brand);
    --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
    --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
    --docsearch-primary-color: var(--vp-c-brand) !important;
}

